<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}HT Platform{% endblock %}</title>
	</head>
	<body>

		<div>
			{{ render(controller("HTPlatformBundle:Advert:menu")) }}
		</div>

		{% block body %}
		{% endblock %}

	</body>
</html>