{% extends 'HTPlatformBundle::layout.html.twig' %}

{% block body %}

	<h2>Ajouter une annonce</h2>

	{{ include('HTPlatformBundle:Advert:form.html.twig') }}

	<p>
		Attention : cette annonce sera ajouté directement sur la page d'accueil après validation du formulaire.
	</p>
	
{% endblock %}